.labelvalue-label,
.labelvalue-value {
  width: 40%  !important;
}
div.labelvalue-label-wrapper:after,
div.labelvalue-value-wrapper:after {
  content: "-";
}
div.labelvalue-label-wrapper,
div.labelvalue-value-wrapper,
div.labelvalue-class-wrapper {
  display: inline !important;
}
div.labelvalue-label-wrapper div,
div.labelvalue-value-wrapper div,
div.labelvalue-class-wrapper div {
  display: inline !important;
}
